//- base라는 파일을 만들고, 그 파일을 extends 하면 파일에 있던 내용을 그대로 가져와서 복붙함.
//- 변경해야 할 부분이 있다면 block을 사용하여 변경한다.
//- block은 base.pug에서 미리 만들어져있어야 한다.
//- 뒤에 퍼그 확장자를 사용할지 말지는 선택
extends base.pug
include mixins/video

block content
    h2 Welcome! You will see the trending videos
    //- 발생가능한 에러메세지
    //- Cannot read property 'length' of undefined.
    //- undefined의 길이의 값을 읽을 수 없다. undefined이므로 당연히 길이도 없음.
    //- 즉, 밑의 코드에서 videos가 정의되지 않았다는 뜻임.
    each info in videos
        //- mixin을 사용할때는 앞에 +를 붙어야 함
        +video(info)
        //- 배열에 아무것도 없을 때 작동하는 코드

    else
        div Sorry, Nothing Found.