extends base.pug
include mixins/video

block content
    form(method="GET")
        input(placeholder="Search by title", type="text", name="keyword")
        input(value="search now", type="submit")
    div 
        each video in videos
            +video(video)